.btn-primary {
    @include btn-border-line($primary-color, #fff);
    color: white!important;
    cursor: pointer!important;
} 
.btn-primary:hover {
    @include btn-border-line($primary-color, #fff);
    color: white!important;
    cursor: pointer!important;
    background-color: $primary-color-hover!important;
} 

.btn-secondary {
    background-color: $secondary-color!important;
    color: white!important;
    font-size: 2em;
    padding: .9em!important;
    border: none!important;
    border-radius: 25px;
    cursor: pointer!important;
}

.btn-secondary:hover {
    color: white!important;
    cursor: pointer!important;
    background-color: $secondary-color-hover!important;
} 