// Variables
@import './helpers/variables.scss';
@import './helpers/mixins.scss';
@import './themes/theme.scss';


// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');



// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.modal-dialog {
  max-width: 800px!important;
}