footer {
  background: $primary-color;
  color: #fff;
  a {
    color: rgba(255, 255, 255, .8);
  }
  a:hover {
    color: rgba(255, 255, 255, 1);
  }
  ul {
    list-style: none;
    margin-left: 20px;
}
}

.site-info {
  background: $primary-color;
  color: white;
}

