$font-stack: 'Roboto', serif, 'Open Sans';
$primary-color:rgba(241, 101, 34, 1);
$primary-color-hover: rgba(241, 101, 34, .8);
$footer-color: #000;
$secondary-color: rgba(255, 191, 45, 1);
$secondary-color-hover: rgba(255, 191, 45, .80);
$navbar-bg: rgba(255, 255, 255, 1)!important;
$navbar-link-text-color: #fff;
$btn-color-1: rgba(241, 101, 34, 1);
$btn-color-2: rgba(243, 234, 37, 1);
;